.App {
  background-color: #0e0e0e;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1vw 5vw 1vw 5vw;
}

.link {
  color:rgb(255, 255, 255);
}
.link:link {
  text-decoration: none;
}
.link:visited {
  text-decoration: none;
}

.web-link {
  color:rgb(255, 255, 255);
}

.go-back-link {
  color:rgb(255, 255, 255);
}
.go-back-link:link {
  text-decoration: none;
}
.go-back-link:hover {
  text-decoration: underline;
}

.small-font {
  font-size: calc(2px + 2vmin);
}

.body {
  font-size: calc(2px + 2vmin);
  padding: 0vw 10vw 5vw 10vw;
}

.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0vw 0vw 0vw 10vw;
  text-align: start;
}

.App-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-footer {
  min-height: 20vh;
}

.Projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 20px 20px;
}

.description {
  font-size: calc(5px + 2vmin);
  padding: 0vw 10vw 5vw 10vw;
}

.Card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.Card:hover img{
  filter: brightness(105%);
  transform: scale(1.02);
}
.Card img {
  transition: transform .5s ease;
}

.img-display {
  height: 60vmin;
}

.img-caption {
  height: 30vmin;
}

.left-align {
  text-align: left;
}