.pink {
    color: palevioletred;
}

.orange {
    color: orange;
}

.aquamarine {
    color: aquamarine;
}

.purple {
    color: thistle;
}

.blue {
    color:darkturquoise;
}

.green-yellow {
    color:rgb(137, 202, 40);
}

.azure {
    color:rgb(176, 209, 209)
}

.cornsilk {
    color:cornsilk
}

.mintcream {
    color: mintcream
}

.user-research {
    color: rgb(173, 198, 158);
}
.design {
    color: rgb(140, 164, 191);
}
.iteration {
    color: rgb(147, 138, 173);
}
.development {
    color: rgb(222, 204, 145);
}